
.card{


    background-color:#353535;
    box-shadow: inset 5px 5px 8px 1px #444141;
    border-radius: 10px;

}

.card-body{
    background-color:#353535;
    box-shadow: inset 5px 5px 8px 1px #444141;
 
 }