<div>
    <a class="btn btn-sm d-none d-sm-inline-block" role="button"routerLink="/payment" style="font-size: 15px;color: rgb(255,255,255);">All</a>
    <a class="btn btn-sm d-none d-sm-inline-block" role="button" routerLink="/dailypayments" style="font-size: 15px;color: rgb(255,255,255);">Daily</a>
    <a class="btn btn-sm d-none d-sm-inline-block" role="button" routerLink="/weeklypayments" style="font-size: 15px;color: rgb(255,255,255);">Weekly</a>
    <a class="btn btn-sm d-none d-sm-inline-block" role="button" routerLink="/monthlypayments" style="font-size: 15px;color: rgb(255,255,255);">Monthly</a>
 </div> 

