
<body id="page-top" >
    <div id="wrapper">
      <!--navbar side-->
<app-sidemenu></app-sidemenu>
      <!---side bar -->
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background-color: #303030;">
                <!---top-->
                
        <app-topnav></app-topnav>
              <!---top-->
                <div class="container" >
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="mb-0" style="font-size: 20px;color: rgb(255,255,255);">Dashboard</h3><a class="btn btn-sm d-none d-sm-inline-block" role="button" routerLink="/report" style="background: rgb(246,152,4);color: rgb(255,255,255);"><i class="fas fa-download fa-sm text-white-50"></i>Report</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow-lg border-start-primary py-2" style="border-style: none;border-left-style: none;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-capitalize" style="color: rgb(246,152,4);font-size: 15px;">Total passengers</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span style="color: rgb(255,255,255);font-size: 13px;">{{allpassengers}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-wallet fa-2x text-gray-300" style="font-size: 20px;"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow-lg border-start-primary py-2" style="border-style: none;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-capitalize" style="color: rgb(246,152,4);font-size: 15px;">Active Passengers</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span style="color: rgb(255,255,255);font-size: 13px;">{{newActive.count}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300" style="font-size: 20px;"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow-lg border-start-primary py-2" style="border-style: none;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                                <span class="text-capitalize" style="color: rgb(246,152,4);font-size: 15px;">Suspended Passengers</span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span style="color: rgb(255,255,255);font-size: 13px;">{{newSuspended.count}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-user-times fa-2x text-gray-300" style="font-size: 20px;"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow-lg border-start-primary py-2" style="border-style: none;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-capitalize" style="color: rgb(246,152,4);font-size: 15px;">Token used</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span style="color: rgb(255,255,255);font-size: 13px;">{{allT|number:'1.2-2'}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-wallet fa-2x text-gray-300" style="font-size: 20px;"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-7 col-xl-8">
                                <div class="card shadow mb-4 h-100" style="border-style: none;">
                                    <div class="card-header d-flex justify-content-between align-items-center"style="background-color: #303030;">
                                        <h6 class="text fw-bold m-0">Monthly Active And Suspended Passengers</h6>
                                       
                                    </div>
                                    <div class="card-body">
                                    <div class="card shadow-lg border-start-primary py-2 mt-4" style="background: #f7f5f5;border-style: none;">

                                        <div id="chart" >
                                            <apx-chart
                                            [series]="chartOptions.series"
                                            [chart]="chartOptions.chart"
                                            [xaxis]="chartOptions.xaxis"
                                            [dataLabels]="chartOptions.dataLabels"
                                            [grid]="chartOptions.grid"
                                            [stroke]="chartOptions.stroke"
                                            [title]="chartOptions.title"
                                            ></apx-chart>
                                        </div>
                                    </div>
                                </div>
                               
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-4">
                                <div class="card shadow mb-4 h-100"style="border-style: none;">
                                    <div class="card-header shadow-lg d-flex justify-content-between align-items-center" style="background-color: #303030;">
                                        <h6 class="text fw-bold m-0">Active And Suspended Passengers</h6>
                                     
                                    </div>
                                    <div class="card-body  h-100">
                                        <figure class="highcharts-figure">
                                          
                                            <div class="card shadow-lg border-start-primary py-2 mt-4" style="background: #f7f5f5;border-style: none;">
                                               
                                                    <div id="chart">
                                                    <apx-chart
                                                        [series]="chartOption.series"
                                                        [chart]="chartOption.chart"
                                                        [labels]="chartOption.labels"
                                                        [title]="chartOption.title"
                                                        [theme]="chartOption.theme"
                                                        [responsive]="chartOption.responsive" 
                                                    ></apx-chart>
                                                    </div>
                                                </div>
                                             
                                            
                                          </figure>
                                    
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        


                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>


