<body style="background: #303030;">
    <nav class="navbar navbar-light navbar-expand fixed-top py-3" style="background: #ffffff;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav flex-shrink-0 flex-fill justify-content-between" style="height: 43px;">
                    <li class="nav-item"><a class="nav-link active float-start" routerLink="/p-dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-chevron-left" style="color: rgb(47,47,47);font-size: 30px;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="15 6 9 12 15 18"></polyline>
                            </svg></a></li>
                    <li class="nav-item"><a class="nav-link active float-start" href="#" style="margin-right: 48px;">
                            <p>Destination</p>
                        </a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>


  <!-- -----bottom menu-->
  <app-bottom-menu></app-bottom-menu>
  <!------------------ -->



    <div class="container" style="padding-top: 84px;padding-bottom: 11px;margin-top: 34px;position: static;">
        <div class="row">
            <div class="col" style="margin-top: 25px;">
                <div class="card shadow" style="background: #444141;border-radius: 15px;border-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;opacity: 1;">
                    <div class="card-body" style="background-color: #303030;border: none;">
                        <div class="row" style="margin-top: 38px;">
                            <div class="col" style="margin-top: -38px;">
                                <button class="btn shadow-lg d-block w-100"  routerLink="/searchplace" type="submit" style="background: rgb(68, 65, 65);font-size: 13px;color: rgb(246,152,4);height: 50px;border-radius: 12px;"><i class="fas fa-search-location" style="font-size: 11px;"></i><span style="color: rgb(255, 255, 255);"> Bus station or station address </span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <div class="card shadow-lg" style="border-radius: 15px;border-style: none;background: rgb(67,65,65);">
                    <div class="card-body" style="border-radius: 15px;border-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;opacity: 1;height: 400px;overflow: scroll;">
                        <p style="color: rgb(255,255,255);font-size: 13px;position: fixed;"><i class="fas fa-bus-alt" style="color: rgb(246,152,4);"></i>&nbsp; &nbsp;Saved Bus Stations</p>
                        <div class="row" style="margin-top: 38px;" >








                            <div class="col-md-6 col-xl-3 mb-4" *ngFor="let p of info">
                             

                                <div class="card shadow-lg border-start-primary py-2" style="background: rgb(67,65,65);border-style: none;">
                                    <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                                    <div routerLink="/starttrip/{{p.address}}" style="text-decoration:none;">
                                                        <p class="text-capitalize" style="font-size: 10px;margin-top: 14px;"><strong><span style="color: rgb(255, 255, 255);"> {{p.address}}</span></strong></p>
                                                        
                                                        </div>
                                                    
                                   
                                                </div>
                                            </div>

                                            <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body" style="background: rgb(68, 65, 65);border-radius: 6px;border-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;height: 106.5px;">
                                                            <p style="font-size: 11px;text-align: center;color: rgb(246,152,4);"><i class="fa fa-warning"></i>&nbsp;Warning</p>
                                                            <p style="font-size: 11px;text-align: center;margin-top: -11px;color: rgb(255,255,255);">Are you sure ,you wanna delete the destination.</p>
                                                            <p style="font-size: 13px;text-align: center;margin-top: -14px;"><button class="btn btn-sm" type="button" style="font-size: 11px;background: rgb(246,152,4);color: #ffffff;" (click)="delete(p.id)" data-bs-dismiss="modal">Yes</button>&nbsp;&nbsp;<button class="btn btn-sm" type="button" data-bs-dismiss="modal" style="font-size: 11px;background: #303030;color: rgb(246,152,4);">&nbsp;No&nbsp;</button>&nbsp;&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto"><button class="btn shadow-lg" type="button" style="font-size: 11px;color: #f59805;background: #303030;" data-bs-target="#myModal" data-bs-toggle="modal"><i class="la la-close"></i></button></div>
                                        </div>
                                    </div>
                                </div>

                            
                             
                            </div>
                            <div class="col">
                                <div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>



