<br>
<body style="background: #303030;font-family: 'Public Sans', sans-serif;">
    <div class="container">
        <section class="position-relative py-4 py-xl-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col text-center" style="margin-top: 35px;"><img src="assets/img/eticketlogo.png" style="height: 51px;"></div>
                </div>
                <h2 style="text-align: center;color: rgb(255,255,255);font-size: 30.44px;margin-top: -35px;">Add Company Information</h2>
                <div class="row d-flex justify-content-center" style="margin-top: 37px;">
                    <div class="col-md-6 col-xl-4" style="margin-top: -31px;height: 570px;">
                        <div class="card mb-5" style="border-style: none;">
                            <div class="card-body d-flex flex-column align-items-center" style="background: #303030;">
<form [formGroup]="companyForm">
    <div class="mb-3  ">
        <div style="text-align: left;">
            <label class="form-label" style="color: rgb(247,152,9);">user_id</label>
        </div>
        <input class="form-control" type="text"  formControlName="user_id" id="user_id" name="user_id" placeholder="user id" style="height: 60px;font-size: 18px;border-radius: 10px;">
    </div>  
   
    
    <div class="mb-3  ">
        <div style="text-align: left;">
            <label class="form-label" style="color: rgb(247,152,9);">Company Name</label>
        </div>
        <input class="form-control" type="text"  formControlName="company_name" id="company_name" name="company_name" placeholder="Enter your company name" style="height: 60px;font-size: 18px;border-radius: 10px;">
    </div>   

    <!-- <div class="mb-3  ">
        <div style="text-align: left;">
            <label class="form-label" style="color: rgb(247,152,9);"> Logo</label>
        </div>
        <input class="form-control" type="text"  formControlName="company_logo" id="company_logo" name="company_logo" placeholder="logo" style="height: 60px;font-size: 18px;border-radius: 10px;">
    </div>  -->
    <div class="mb-3">
        <div style="text-align: left;">
            <label class="form-label" style="color: rgb(247,152,9);">Company Contact</label>
        </div>
        <input class="form-control" type="text"  formControlName="company_contact" id="company_contact" name="company_contact" placeholder="Enter your company contact" style="height: 60px;font-size: 18px;border-radius: 10px;">
    </div>  
    <div class="mb-3">
        <div style="text-align: left;">
            <label class="form-label" style="color: rgb(247,152,9);">Company Email</label>
        </div>
        <input class="form-control" type="text"  formControlName="company_email" id="company_email" name="company_email" placeholder="Enter your company email" style="height: 60px;font-size: 18px;border-radius: 10px;">
    </div>  
    <div class="mb-3">
        <div style="text-align: left;">
            <label class="form-label" style="color: rgb(247,152,9);">Company Account</label>
        </div>
        <input class="form-control" type="text"  formControlName="company_account" id="company_account" name="company_account" placeholder="Enter your company account" style="height: 60px;font-size: 18px;border-radius: 10px;">
    </div>  
    <div class="mb-3" style="padding-top: 10px;">
        <button class="btn text-uppercase shadow-lg d-block w-100" type="submit" (click)="infor()" style="height: 60px;background: #F7970A;color: rgb(255,255,255);font-size: 20px;border-radius: 10px;">SAVE</button>
    </div>

  </form>
                            
</div>
                        
</div>
                    
</div>
</div>
</div>
</section>
</div></body>