<nav class="navbar navbar-dark shadow-lg align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #303030;">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"></div>
            <div class="sidebar-brand-text mx-3"><span><img src="assets/img/eticketlogo.png" style="height: 24px;" width="113" height="24"></span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link" routerLink="/idashboard"><i class="fas fa-tachometer-alt" style="color: rgb(245,151,6);"></i><span>Dashboard</span></a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/passengers"><i class="fas fa-user-alt" style="color: rgb(245,151,6);"></i><span>Passengers</span></a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/passengercomplain"><i class="fas fa-comment" style="color: rgb(245,151,6);"></i><span>Complains</span></a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/payment" ><i class="fas fa-wallet"  style="color: rgb(245,151,6);"></i><span>Payments</span></a></li>
            <li class="nav-item"><a class="nav-link" (click)="onClick()" ><i class="fas fa-sign-out-alt" style="color: rgb(245,151,6);"></i><span>Sign Out</span></a></li>
            <li class="nav-item"></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
