   
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <div class="row mb-5">
                    <div class="col text-center" style="margin-top: 35px;"><img src="assets/img/eticketlogo.png" style="height: 52px;"></div>
                </div>
                <h1 class="display-1 fw-bold">404</h1>
                <p class="main"> <span class="text">Opps!</span> Your Account has been suspended.</p>
                <p class="lead">
                   Please contact the administrator <br><span class="mail">easyticket@gmail.com</span>

                  </p>
                <a routerLink="/" class="btn">Go Home</a>
            </div>
        </div>
 



