<body style="background: #303030;">
    <div class="container">
        <section class="position-relative py-4 py-xl-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col text-center" style="margin-top: 35px;"><h1 style="color:#fff" class="display-1">WeSorted</h1></div>
                </div>
                <h2 style="text-align: center;color: rgb(255,255,255);font-size: 30.44px;margin-top: -35px;">Sign in</h2>
                <div class="row d-flex justify-content-center" style="margin-top: 37px;">
                    <div class="col-md-6 col-xl-4" style="margin-top: -31px;">
                        <div class="card mb-5" style="border-style: none;">
                            <div class="card-body d-flex flex-column align-items-center" style="background: #303030;">
                                <form class="text-center" [formGroup]="form" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" method="post" style="width: 300px;">
                                    <div class="mb-3">
                                        <div style="text-align: left;"><label class="form-label" style="color:#306ECC;">Email</label></div>
                                        <input class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"   id="email"  name="email" type="email"  placeholder="Enter your email" style="height: 60px;font-size: 18px;border-radius: 10px;">
                                    
                                    <!-----validate email----->
                                    <div style="text-align: left;" *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                                      </div>
                                      <!--------------------->
                                    
                                    </div>
                                    <div style="text-align: left;"><label class="form-label" style="color:#306ECC;">Password</label></div>
                                    <div class="mb-3"><input class="form-control" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" type="password" id="password"  name="password" placeholder="Enter your password" style="height: 60px;font-size: 18px;border-radius: 10px;">
                                    
                                     <!-----validate password-->
                                    <div style="text-align: left;" *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                                        <div *ngIf="f['password'].errors['minlength']">
                                        Password must be at least 8 characters
                                        </div>
                                        <div *ngIf="f['password'].errors['maxlength']">
                                        Password must not exceed 40 characters
                                        </div>
                                    </div>
                                    <!--------------------------------------->
                                    
                                    </div>
                                    <div class="mb-3" style="padding-top: 10px;"><button class="btn text-uppercase shadow-lg d-block w-100" type="submit" style="height: 60px;background: #306ECC;color: rgb(255,255,255);font-size: 20px;border-radius: 10px;">Sign in</button></div>
                                    <p style="color: var(--bs-card-bg);">
                                        Don't have account?&nbsp;<a routerLink='/register' style="text-decoration: none;"><span style="color: #306ECC;text-decoration: none;">Sign Up</span></a>&nbsp;<br>
                                        Forgot password?&nbsp;<a routerLink='/passwordrecovery' style="text-decoration: none;"><span style="color: #306ECC;text-decoration: none;">Click here</span></a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
   
</body>
