<body style="background: #303030;">
    <nav class="navbar navbar-light navbar-expand fixed-top py-3" style="background: #ffffff;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav flex-shrink-0 flex-fill justify-content-between" style="height: 43px;">
                    <li class="nav-item"><a class="nav-link active float-start" routerLink="/p-dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-chevron-left" style="color: rgb(47,47,47);font-size: 30px;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="15 6 9 12 15 18"></polyline>
                            </svg></a></li>
                    <li class="nav-item"><a class="nav-link active float-start" href="#" style="margin-right: 48px;">
                            <p>Complaints</p>
                        </a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
  


<app-bottom-menu></app-bottom-menu>


    <div class="col-12" style="margin-top: 100px;"><a class="btn btn-sm shadow float-end" role="button" style="background: #f79809;color: rgb(255,255,255);border-radius: 8px;margin-right: 12px;position: static;margin-top: 28px;" routerLink="/lodgecomplains"><i class="fas fa-comment"></i>&nbsp;Lodge complain</a></div>
    <div class="col">
        <div class="container" style="padding-top: 84px;padding-bottom: 11px;margin-top: 0px;position: static;">
            <div class="row p-2">
                <div class="col">
                    <div class="card shadow" style="border-radius: 15px;border-style: none;border-left-style: none;background: rgb(67,65,65);">
                        <div class="card-body" style="background: rgb(68, 65, 65);border-radius: 15px;border-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;opacity: 1;height: 450px;overflow: scroll;">
                            <p style="color: rgb(255,255,255);font-size: 13px;position: fixed;margin-top: 4px;"><i class="fas fa-comments" style="color: rgb(246,152,4);"></i>&nbsp; &nbsp;Complains</p>
                            <div class="row" style="margin-top: 40px;">


                                <div class="col-md-6 col-xl-3 mb-4" *ngFor="let c of complaints">
                                    <div class="card shadow-lg border-start-primary py-2" style="background: rgb(67,65,65);border-style: none;">
                                        <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;" routerLink="/read/{{c.id}}">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                                        <p class="text-capitalize" style="font-size: 10px;margin-top: 14px;"><span style="color: rgb(255, 255, 255);">{{c.complains |slice:0:150}}.....</span></p>
                                                       <hr style="color: #303030;">
                                                    <p  style="font-size: 10px;margin-top: 14px;color:#ffffff"><span class="float-start"><i class="fa fa-calendar" aria-hidden="true" style="color: rgb(246,152,4)"></i> : {{c.date_created|date:'Y-MM-dd'}}</span>
                                                        <span class="float-end"><i class="fa fa-clock" aria-hidden="true" style="color: rgb(246,152,4)"></i> : {{c.date_created|date:'shortTime'}}</span>
                                                    </p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                             
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
