<div style="background: url(&quot;https://images.unsplash.com/photo-1569116011158-3ac1ba68ddba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80&quot;) left / cover no-repeat;height: 880px;position: relative;">
    <div class="d-flex justify-content-center align-items-center" style="height: inherit;min-height: initial;width: 100%;position: absolute;left: 0;background: rgba(60, 61, 62, 0.92);"></div>
    <div class="container">
        <section class="position-relative py-4 py-xl-5">
            <p style="text-align: right;"><a href="#myModal" data-bs-target="#myModal" data-bs-toggle="modal"><i class="icon ion-information-circled" style="color: rgb(247,153,3);margin-right: 10px;font-size: 21px;"></i></a></p>
            <div class="container">
                <div class="row mb-5">
                    <div class="col text-center" style="margin-top: 105px;"><h1 style="color:#fff" class="display-1">WeSorted</h1></div>
                </div>
            </div>
            <p style="font-size: 24px;color:#306ECC;text-align: center;">How to do better Kickflips </p>
            <p style="font-size: 13px;text-align: center;line-height: 18px;color: rgb(255,255,255);">We provide brand new and second hand skateboarding products.<br>Such as the following.<br>Decks, Trucks, Wheels, Bearings & Hardware.</p>
            <!-- <p style="color: rgb(247,153,3);text-align: center;font-size: 14px;">CHOOSE YOUR TICKET</p>
            <p style="font-size: 13px;text-align: center;color: rgb(255,255,255);">We have different ticket options available <br>so that you can plan and save on your <br>travel costs.</p>
            <p style="text-align: center;font-size: 14px;color: rgb(247,153,3);">USE OUR ACCOUNT PROVIDED</p>
            <p style="font-size: 13px;text-align: center;color: rgb(255,255,255);">Use the company account to transfer <br>your ticket money using the ticket <br>number as reference.</p>
            <p style="font-size: 14px;color: rgb(247,153,3);text-align: center;"></p> -->
            <div class="col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4"><a class="btn btn-lg text-uppercase shadow-lg d-block w-100" role="button" routerLink='/register' style="background: #306ECC;color: rgb(255,255,255);font-size: 20px;border-radius: 10px;padding-top: 15px;padding-bottom: 15px;">get Sorted <i class="fas fa-long-arrow-alt-right"></i></a></div>
        </section>
    </div>
</div>
