<div>
    <a class="btn btn-sm d-none d-sm-inline-block" role="button"routerLink="/passengercomplain" style="font-size: 15px;color: rgb(255,255,255);">All</a>
    <a class="btn btn-sm d-none d-sm-inline-block" role="button" routerLink="/dailycomplain" style="font-size: 15px;color: rgb(255,255,255);">Today</a>
    <a class="btn btn-sm d-none d-sm-inline-block" role="button" routerLink="/weeklycomplain" style="font-size: 15px;color: rgb(255,255,255);">Weekly</a>
    <a class="btn btn-sm d-none d-sm-inline-block" role="button" routerLink="/monthlycomplain" style="font-size: 15px;color: rgb(255,255,255);">Monthly</a>
 </div> 
